* {
    margin: 0 auto;
    max-width: 752px;
}

.logo,
.title {
    font-family: 'Crete Round', sans-serif;
}

.logo {
    margin: 40px auto 55px;
    font-size: 29px;
    color: #060c32;
}

.title h1 {
    margin: 0 auto 24px;
    font-size: 47px;
    color: #060c31;
    letter-spacing: 2px;
    line-height: 1.103;
    font-weight: 400;
}

.text,
.button {
    font-family: 'Lato', sans-serif;
}

.text {
    font-size: 15px;
    color: #060c31;
    line-height: 1.5;
    letter-spacing: -0.6px;
    margin: 0 auto 33px;
}

.button {
    margin: 0 0 22px 0;
}

.button_1,
.button_2 {
    font-size: 12px;
    letter-spacing: 0.5px;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
}

.button_1 {
    margin-right: 12px;
    padding: 12px 28px;
    color: #fff;
    background-color: #233fe2;
}

.button_2 {
    padding: 12px 21px;
    border: 1px solid #ffb0b1;
    color: #060c31;
    background-color: #fff;
}

.image img {
    width: 77%;
    margin: 0 0 0 -25px;
}