* {
    margin: 0 auto;
    max-width: 945px;
}

.logo,
.title {
    font-family: 'Crete Round', sans-serif;
}

.logo {
    margin: 50px auto 72px;
    font-size: 34px;
    color: #060c32;
    letter-spacing: 1.4px;
}

.title h1 {
    margin: 0 auto 33px;
    font-size: 58px;
    color: #060c31;
    letter-spacing: 3px;
    line-height: 1.103;
    font-weight: 400;
}

.text,
.buttons {
    font-family: 'Lato', sans-serif;
}

.text {
    font-size: 15px;
    color: #060c31;
    line-height: 1.8;
    letter-spacing: 0.8px;
    margin: 0 auto 42px;
}

.buttons {
    margin: 0 0 27px 0;
}

.get_started,
.account {
    font-size: 15px;
    letter-spacing: 0.7px;
    border-radius: 25px;
    display: inline-block;
    text-decoration: none;
}

.get_started {
    margin-right: 16px;
    padding: 16px 35px;
    color: #fff;
    background-color: #233fe2;
}

.account {
    padding: 16px 27px;
    border: 1px solid #ffb0b1;
    color: #060c31;
    background-color: #fff;
}

.image img {
    margin: 0 0 0 -28px;
}
